body{
    background: url(https://t2.tudocdn.net/504868?w=1920);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center top 100px;
    background-color: black;
}

h1{
    color: white;
}

